
.body{
    background-color: rgb(232, 250, 244);
    height: 100vh;
    width: 100vw;
    
}
.container{
    height: 500px;
    width: 700px;
    border: 1px solid black;
    border: 2rem;
background-color: blanchedalmond;
    margin:  auto;
    position: relative;
    top: 4rem;
    
    
}