.body{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    padding-top: 4rem;
}
.container{
    height: 400px;
    width: 600px;
    background-color: aliceblue;
    margin: auto;
    padding-top: 2rem;
    position: relative;
   
}
h1{
    text-align: center;
}
p{
  text-align: center;
  padding:2rem 3rem;
}
.child{
    position: absolute;
    top: 0;
    right:0;
}